# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf

# user defined
vendor
docs
cover_bgd.png
cover_patch.png
/images/cover.png
/images/gopher/go_lang_mascot_by_kirael_art-d7kunhu.gif
